/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
!/bin/install
/composer.phar
/composer.lock
/.idea
/app/Resources/assets
/node_modules
/behat.yml
/bin
/npm-debug.log
/web/uploads/themes/images/*
/web/uploads/users/images/*
/web/uploads/proposals/images/*
/web/css/bootstrap.css
/web/css/bootstrap.min.css
/web/css/icofont.css
/web/css/fonts/
/notes
/tags
