{% extends '::layout.html.twig' %}

{% block content %}
    <div class="section-header row">
        {% if not discussion.isLocked %}
            <div class="section-header-menu col-md-12 col-xs-12">
                <div class="btn-group custom-btn-group ">
                    <button class="dropdown-toggle btn btn-default" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
                    <ul class="dropdown-menu pull-right">
                        {% if is_granted('can_be_edited', discussion) %}
                            <li><a href="{{ path('private_discussion_edit', {'slug': discussion.slug}) }}">Éditer la discussion</a></li>
                        {% endif %}
                        {% if is_granted('can_be_locked', discussion) %}
                            <li><a href="{{ path('private_discussion_lock', {'slug': discussion.slug}) }}">Vérouiller la discussion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="section-header-title col-md-6 col-xs-6">
            <div>discussion privée | <a href="{{ path('profile_private_discussions') }}" title="Messagerie"><span class="glyphicon glyphicon-envelope"></span></a></div>
            <h1>{{ discussion.title }}</h1>
            {% if discussion.locked %}
                discussion fermée
            {% endif %}
        </div>
    </div>

    {% block page_content %}{% endblock page_content %}
{% endblock content %}
