{% extends '::layout.html.twig' %}

{% block content %}
    <div class="section-header row">
        <div class="section-header-image col-md-3 col-xs-3">
            <img src="{{ asset('img/contact_128.png') }}">
        </div>
        <div class="section-header-title col-md-6 col-xs-6">
            <div class="project-title">Contact</div>
        </div>
    </div>
    <div class="row margin-auto project-paragraph">
        <h2>Mail</h2>
        <p>postmaster[ @ ]democratie-libre.org</p>
    </div>
    <div class="row margin-auto project-paragraph">
        <h2>Twitter</h2>
        <p><a href="https://twitter.com/DemocratieLibre">@DemocratieLibre</a></p>
    </div>
{% endblock content %}
