{% extends '::layout.html.twig' %}

{% block page_content %}
    <h1>Racines de l'arbre</h1>

    {% for root in roots %}
        <ul class="tree">
            {{ tree(root)|raw }}
        </ul>
    {% else %}
        Pas de racine !
    {% endfor %}

    <hr>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('theme_addroot')}}">Ajouter une racine</a>
    {% endif %}
{% endblock page_content %}

{% block javascript %}
    {{ parent() }}
{% endblock javascript %}
