imports:
    - { resource: services/repository.yml }

services:
    userManager:
        class: App\Service\UserManager
        arguments: ["@security.encoder_factory", "@doctrine.orm.entity_manager", "@session", "@security.context"]

    app.twig.tree_extension:
        class: App\Twig\TreeExtension
        tags:
            - { name: twig.extension }
        arguments: ["@router"]

    app.proposal_voter:
        class: App\Security\Authorization\Voter\ProposalVoter
        public: false
        tags:
            - { name: security.voter }
        arguments: ["@service_container"]

    app.old_proposal_voter:
        class: App\Security\Authorization\Voter\OldProposalVoter
        public: false
        tags:
            - { name: security.voter }

    app.private_discussion_voter:
        class: App\Security\Authorization\Voter\PrivateDiscussionVoter
        public: false
        tags:
           - { name: security.voter }
        arguments: ["@doctrine"]

    app.public_discussion_voter:
        class: App\Security\Authorization\Voter\PublicDiscussionVoter
        public: false
        tags:
           - { name: security.voter }
