{% extends 'ArticleVersion/layout_article_version.html.twig' %}

{% block page_content %}
    <div>
        {{ articleVersion.content | markdown }}
    </div>
    <div class="article-version-motivation">
        <h3>Motifs</h3>
        {{ articleVersion.motivation | markdown }}
    </div>
{% endblock page_content %}
